<section id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="img/img_slider_3.jpg" alt="First slide">
        </div>
        <div class="item">
          <img class="second-slide" src="img/img_slider_2.jpg" alt="Second slide">
        </div>
        <div class="item">
          <img class="third-slide" src="img/img_slider_1.jpg" alt="Third slide">
        </div>
      </div>
    </section>
<section id="valeurs">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-xs-4">
				<div class="val">
          <h3><b>DECOUVRIR</b></h3>
					<img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="img/element/decouvrir.png">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-xs-4">
				<div class="val">
          <h3><b>EXPLORER</b></h3>
					<img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="img/element/explorer.png">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-xs-4">
				<div class="val">
          <h3><b>PARTAGER</b></h3>
					<img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="img/element/partager.png">
				</div>
			</div>
		</div>
	</div>
</section>
<section  id="app-and">
    <div class="container">
        <div class="row app-margin">
            <div class="col-lg-1 col-md-1 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 animation animated-item-4 wow">
                <div id="phone">
                    <img src="img/element/iphone6.png" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 app-ele">
              <h3>Bientôt disponible sur notre application</h3>
              <li><a><img src="img/button_appstore.png"></a></li>
              <li><a><img src="img/button_googleplay.png"></a></li>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-0">
            </div>
        </div>
    </div>
</section>
<section id="ttof">
  <div>
    <img class="animation animated-item-4 wow img-txt" src="img/3sports_textes.png">
  	<img src="img/3sports.jpg">
  </div>
</section>
<section id="news">
	<button class="btn">S'inscrire à la Newsletter</button>
</section>


