html, body{
	width: 100%;
}
a{
	color:#FFF;
}
a:hover, a:focus {
  color: #F5F5F5;
  text-decoration: none;
  cursor: pointer;
}
header{
	width: 100%;
	height: 75px;
	background-color: #343434;
	padding: 27.5px;
	margin: 0;
	position: absolute;
	top: 0;
	z-index: 30;
}
header img{
	width: 250px;
	margin: 0;
	padding: 0;
}
.navbar-right{
	margin-right: 0;
	display: block;
}
#contenu{
	position: absolute;
	top:0;
	z-index: 20;
}
section{
	width:100%;
	padding: 30px 0px;
	z-index: 20;
}
#myCarousel{
	height:100vh;
}
#myCarousel .carousel-inner{
	height:100%;
}
section .val img{
	width: 100%;
}
#app-and{
	background-color: #343434;
	height: 300px;
	padding: 0;
	z-index: 10;
}
#app-and .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
  z-index: 5;
}
#app-and .app-margin{
  margin-top: 47px;
}
#app-and #phone {
  text-align: right;
  position: absolute;
}
#phone img{
	width:50%;
	float: right;
}
#ttof{
	margin-top: -30px;
}
#ttof img{
	width:100%;
}
#news{
	padding: 20px 0px;
	text-align: center;
	height:auto;
}
#news button{
	background-color: #70bd49;
	padding: 10px 15px;
}
footer{
	background-color: #343434;
	color: #fff;
	padding: 15px 0px;
	margin-top: 30px;
}
footer p{
	margin-top: 10px;
}
@media (max-width: 767px){
	#banner{
		padding: 27.5px 0px;
	}
	#banner .container{
		height: 100%;
  		text-align: center;
	}
	#banner img{
		margin-left: auto;
		margin-right: auto;
	}
	.navbar-right {
		display: none;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#app-and .app-margin{
	  margin-top: 88px;
	}
}
@media (min-width: 992px){
	#valeurs .container{
	  padding-left: 150px;
	  padding-right: 150px;
	}
}